<!-- <p>sqr works!</p>

{{num}} -->
<br>
<!-- {[0]};
{{colors}} -->
<!-- <div *ngFor = " let item of colors ">
 {[item]}
</div> -->

<!-- Enter a Number
<input type ="number" (keyup)="getSqr()" [(`this.num`)] = "num"/>

<div>Square Of {{num}} is {{sqr}}</div> -->

<h3>sqr page works!</h3>

<!-- {{num}}
<br>

{{colors}} -->
<!-- <div *ngFor="let item of colors">
    {{item}}
</div> -->

Enter a number : <input type="text" (click)="getSqr()" />
<br><br>
<div>The Square of {{num}} is {{sqr}} </div>